<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477759819895-aslheah6lgap959j0qgu2rtaj90epic8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477759819895-aslheah6lgap959j0qgu2rtaj90epic8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477759819895-1fr29nk5md5dl6fhqrj54p6n1dnr4h47.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBSLtAFqzfVi3X65FDL_9xI9E29a5ZSRs</string>
	<key>GCM_SENDER_ID</key>
	<string>477759819895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catage</string>
	<key>PROJECT_ID</key>
	<string>catlife-ae128</string>
	<key>STORAGE_BUCKET</key>
	<string>catlife-ae128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477759819895:ios:ca2d8c5b3b85730f697672</string>
</dict>
</plist>